<p id="notice"><%= notice %></p>

<h1>Stock Symbols</h1>

<table>
  <thead>
    <tr>
      <th>Dollar amount</th>
      <th>Stock price</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @stock_symbols.each do |stock_symbol| %>
      <tr>
        <td><%= stock_symbol.dollar_amount %></td>
        <td><%= stock_symbol.stock_price %></td>
        <td><%= link_to 'Show', stock_symbol %></td>
        <td><%= link_to 'Edit', edit_stock_symbol_path(stock_symbol) %></td>
        <td><%= link_to 'Destroy', stock_symbol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Stock Symbol', new_stock_symbol_path %>
